@font-face {
  font-family: 'Chronicle-Bold';
  src: url('./assets/Chronicle_Disp_Cond_Bold.otf') format('opentype');
}

html {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  background: linear-gradient(180deg, #05101f 100%, rgba(0,0,0,.57605) 0);
  font-family: 'Chronicle-Bold';
}

body div#root {
  width: 100%;
  height: 100%;
}

#root div#home-screen {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}


/*
██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗
██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
*/
#home-screen header {
  width: 100%;
  height: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid rgba(255, 255, 255, .7);
}

header h1 {
  color: #8c8681;
}


/*
███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗
██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
█████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝
*/
#home-screen footer {
  width: 100%;
  height: 10vh;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-top: 1px solid rgba(255, 255, 255, .7);
}

footer input {
  padding: .9vh;

  border: none;
  border-radius: 1vh;
}

footer button {
  padding: 0;

  width: 15%;
  height: 70%;

  background: transparent;
  border: none;
}

button ion-icon {
  width: 100%;
  height: 100%;

  color: white;
}


/*
███╗   ███╗ █████╗ ██╗███╗   ██╗
████╗ ████║██╔══██╗██║████╗  ██║
██╔████╔██║███████║██║██╔██╗ ██║
██║╚██╔╝██║██╔══██║██║██║╚██╗██║
██║ ╚═╝ ██║██║  ██║██║██║ ╚████║
╚═╝     ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝
*/
#home-screen main {
  overflow: auto;

  width: 100%;
  height: 75vh;
}

main section.task-item {
  margin: 0 auto 5vh auto;

  width: 85%;
  height: 10vh;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  border-radius: 1.5vh;
}

.task-item:last-child {
  margin-bottom: 0;
}

.task-item div#arrows-container {
  width: 10%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#arrows-container button {
  width: 100%;
  height: 100%;

  background: transparent;
  border: none;
}

#arrows-container button ion-icon {
  width: 100%;
  height: 100%;

  color: black;
}
